services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"  # Exposing port 3000
    volumes:
      - ./backend:/usr/src/app
      - ./frontend:/usr/src/app/public
    restart: unless-stopped
  frontend:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - ./frontend:/app
    ports:
      - "8080:8080"
    command: npx live-server --port=8080 --open=/index.html --watch=.